body {
    // --primary-color: #37517e;
    --primary-color: #c2c2c2;
    --dark-color: #692a2a;
    --light-color: rgb(0,185,255);

    --icon-color: rgb(37,54,85);
    --select-color: #00003f;
    --dim-text-color: gray;
    --text-color: black;
}
  

.dropdown {
    width: 1em;
    height: 1em;
    z-index: 100;
    transform:rotate(180deg);
    margin-left: auto;
    fill: var(--light-color);
    padding-bottom: 2px;
   }

.currency-flag {
    display: inline-block;
    width: 24px;
    height: 16px;
    margin: 4px;
    background-size: cover;
    background-image: url(https://wise.com/public-resources/assets/flags/rectangle_fallback.png);

    &.currency-flag-jpy {
        background-image: url(https://wise.com/public-resources/assets/flags/rectangle/jpy.png);
    }
    &.currency-flag-usd {
        background-image: url(https://wise.com/public-resources/assets/flags/rectangle/usd.png);
    }
    &.currency-flag-eur {
        background-image: url(https://wise.com/public-resources/assets/flags/rectangle/eur.png);
    }
}

.layout {
display: flex;
justify-content: center;
}
  
hr {
    z-index: 10;
    width: 100%;
    height: 0;
    border-top-width: 1px;
    border-color: rgba(46,67,105,.5);

}

// <svg class="turnover flex-right dd-icon" width="16" height="16" fill="currentColor" focusable="false"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 4l-6.6 6.653L2.537 11.8 8 6.293l5.463 5.507 1.137-1.147L8 4z"></path></svg>
.transfer-select {
    box-sizing: border-box;
    width: 10em;
    color: white !important;
    width: 30%;
    // background-color: #2e4369;
    border-radius: 2px;
    padding: 4px 8px;
    margin-right: 5px;
    background-color: var(--select-color);
}
  .root {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center center;
    font-family: Averta,Avenir W02,Avenir,Helvetica,Arial,sans-serif;
    color: white;
    width: 400px;
    padding: 12px;
    .input-select-container {
      display: flex;
      background: white;
      height: 60px;
      border-radius: 3px;
      .select {
        border-radius: 0 3px 3px 0;
        flex-grow: 0;
        width: 30%;
        background-color: var(--select-color);
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
      }
      .input-container {
        flex-grow: 3;
        height: 100%;
        border-radius: 4px;
        label {
          position: absolute;
          margin: 8px;
          font-size: .9em;
          color: gray;
        }
        .input {
            border-radius: 4px;
            display: flex;
            font-size: 1.2em;
            padding-top: 1.5em;
            padding-left: 1em;
            box-sizing: border-box;
            color: #222;
            z-index: 2;
            background: white;
            height: 100%;
            width: 100%;
        }
      }
    }
    ul {
      margin: 0;
      li:first-child {
        padding-top: 12px;
      }
      li:last-child {
        padding-bottom: 12px;
      }
      li {
        color: var(--dark-color);
        margin: 0;
        padding: 5px 0;
        padding-left: 16px;
        display: flex;
        align-items: center;
        position: relative;
        line-height: 24px;
        font-size: .875rem; 

        span:first-child {
          color: var(--text-color);
          min-width: 96px;
        }

        span:nth-child(2) {
            color: var(--text-color);
            min-width: 120px;
        }

        &.dim > span {
            color: var(--dim-text-color);
        }

        // 縦長の線
        &::after {
          position: absolute;
          top: 0%;
          left: -20px;
          background-color: var(--icon-color);
          height: 100%;
          z-index: 0;
          width: 1.5px;
          content: "";
          box-sizing: content-box;
        }

        // beforeが丸いやつ
        &:not(.hr)::before {
            position: absolute;
            box-sizing: border-box;
            top: calc(50% - 5px); // 中心 - 自分の高さ
            // left: -22.8px;
            left: -22px;
            content: "";
            background-color: var(--icon-color);
            z-index: 1;
            border-radius: 2px;
            width: 6px;
            height: 6px;
        }

        // 最初のChildのliのpadding-topの分
        &:first-child::before {
            top: calc(50% - 2px);
        }

        // 最後のChildのliのpadding-bottomの分
        &.icon:last-child::before {
            top: calc(50% - 17px);
        }

        &.icon::before {
            position: absolute;
            box-sizing: border-box;
            top: calc(50% - 13.5px); // 中心 - 自分の高さ（を元にした決め打ち調整）
            left: -31.5px;
            color: white;
            z-index: 1;
            text-align:center;
            background-color: var(--icon-color);
            border-radius: 8px;
            width: 25px;
            height: 25px;
        }

        &.icon.minus::before {
            content: "ー";
            font-size: .8em;
            padding-top: .1em;
        }

        &.icon.equals::before {
            content: "=";
            font-size: 1.1em;
            padding-top: .08em;
        }

        &.icon.divide::before {
            content: "÷";
            font-size: 1.1em;
            padding-top: .08em;
        }
      }
    }
  }
  